p {color: blue;}

tbody tr {font-family:Arial; font-size:8pt;}

td.gt10 {color: red;}

td.gt5 { color: orange;}

thead tr {font-family:Arial; font-size:10pt;}

.box {
        background-color: skyblue;
        width: 24px;
        height: 18px;
        padding: 4px;
        margin: 1px;
}
